@use 'base/variables' as v;
@use 'base/mixins' as m;

.olvide {
    margin-top: 5rem;

    .UpTask {
        @include m.textoDegradado(v.$rosa);
    }
    input[type='submit'] {
        @include m.boton(v.$rosa, v.$blanco);
        margin-left: auto;
    }
    
    .acciones {
         a {
            color: v.$rosa;
         }
    }

}